.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  margin-left: 10px;
}

.nav-bar {
  margin-bottom: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.recipe-container {
  width: 30%;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.marsImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100&;
}

.galleryHolder {
  position: relative;
  height: 100%;
  width: 100%;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.showImage {
  animation: show;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.hideImage {
  animation: hide;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
